@import url("font.css");

body, h1, h2, h3, h4, h5, h6, p, ul, li, ol, tabel, td, th, tr, img, form, input, textarea, select, fieldset, figure, figcaption, a{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a, a:link, a:hover, a:visited, a:active{
  color: inherit;
  text-decoration: none;
}
