.section2 {
    background-color: #EEEEEE;
    /* height: 600px; */
    padding-bottom: 100px;
  }
  .card-more {
      padding-top: 30px;
    }
    .card-box {
      width: 345px;
      height: 345px;
      background-color: white;
      float: left;
      margin-left: 21px;
      margin-top: 35px;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 0 7px 9px rgba(0, 0, 0, .1);
    }
    .card-box img {
      width: 345px;
      height: 145px;
    }
    .card-box-text {
      margin-left: 15px;
    }
    .card-box-text h3 {
      margin-top: 13px;
      font-size: 30px;
      color: black;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .card-box-text h3:hover {
      color: #f88c00;
    }
    .card-box-text h3::after {
      content: "";
      display: block;
      width: 100px;
      border-bottom: 2px solid #c5c5c5;
      margin: 8px 0px;
    }
    .card-box-text p {
      margin-top: 20px;
      color: #949494;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      /* 여러 줄 자르기 추가 스타일 */
      white-space: normal;
      line-height: 1.2;
      height: 3.6em;
      text-align: left;
      word-wrap: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }